# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Data and Logs
logs/*
!logs/.gitkeep
*.log
*.json

# Secrets & Config
config/config.ini
.env

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
